*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #0c192c;
    
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.bolhas{
    position: absolute;
    display: flex;

}
.bolhas span{
    width: 30px;
    height: 30px;
    background: #e5ff00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e5ff0044,
    0 0 0 50px #e5ff00,
    0 0 0 100x #e5ff00;
}

.bolhas span:nth-of-type(even){
    background: #2dc3ff;;
}

.calculator{
    color: #fff;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    opacity: 80%;
}

.btn{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff
}
.btn:hover{
    background-color: black;
}
#result{
    width: 207px;
    height: 30px;
    margin: 5px ;
    background-color: white;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}