*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #0c192c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    padding: 5px;
    text-align: center;
    height: 30px;
    color: white;
    background-color:#193663;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.bolhas{
    position: absolute;
    display: flex;

}
.bolhas span{
    width: 30px;
    height: 30px;
    background: #6428f0;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px  #4015a344,
    0 0  10px  #1e0558,
    0 0  10px  #1e0558;
    animation: animar calc(120s / var(--i)) linear infinite;
    
}

@keyframes animar {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even){
    background: #2521f1;
    box-shadow: 0 0 0 10px  #2521f144,
    0 0  10px  #2521f1,
    0 0  10px  #2521ff;
}

.calculator{
    color: #fff;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    opacity: 90%;
}

.btn{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff
}
.btn:hover{
    background-color: black;
}
#result{
    width: 207px;
    height: 30px;
    margin: 5px ;
    background-color: white;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
