/* geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body{
    background-image: url(./images/background.jpg) ;
    background-size: cover;
    
} 
textarea:focus, input:focus{
    outline: none;
}

a {
    font: .8rem;
}

a:hover{
    color: blue; 
}

#login-container{
    background-color: #FFF;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
} 

/*formulário*/

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
}