body{
    background: url(./arquivos-necessarios-projeto-anna-bella/fundo.png);
}

.direitos{
    text-align: center;
    font-weight: bolder;
}
.menu{
    color:midnightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}